<h1>Sidebar</h1>

<ul>
	<li><%= link_to "Articles", articles_path %></li>
	<li><%= link_to "Authors", authors_path %></li>
	<li><%= link_to "Tags", tags_path %></li>
	<li>Articles by Month
		<ul id="months">
			<% @active_months.each do |month| %>
				<li>
					<%= link_to "#{month}", month_path(month) %>
				</li>
			<% end %>
		</ul>
	</li>
	<li>Top Articles
		<ul id="toparticles">
			<% @top_articles.each do |article| %>
				<li>
					<%= link_to "#{article.title}", article_path(article) %>
				</li>
			<% end %>
		</ul>
	</li>
</ul>
